* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: grid;
  width: 100%;
  height: 1000px;
  background-color: black;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.container {
  display: grid;
}

header {
  grid-area: header;
  background-color: #d8d8d8;
  height: auto;
}
                                                        /*NAVBAR*/
.large {
  grid-area: nav;
  display: grid;
  min-height: 64px;
  height:64px;
  background-color: rgb(255, 255, 255);
  grid-template-areas: " logo  links";
  justify-content:space-between;
  align-items: center;

}
.mobile{
    display:none;
}

.logo {
    display: grid;
    grid-template-areas: "logo-img logo-text";
    align-items: center;
    padding-left: 24px; 
    height: 32px; 
}

.logo-img{
    grid-area: logo-img;
    
}

.logo-text{
 grid-area: logo-text;
 font-family: "Roboto", Arial, Helvetica, sans-serif;
 font-weight: 600;
 font-size:1.2rem;
 text-transform: uppercase;
 align-items: center;
 padding-bottom:0.2rem;
 text-decoration: none;
 color: black;
}
.logo-text #light{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #9b9b9b;    
}

.links {
  grid-area: links;
  
  }
.links a, ul, li {
  display: inline-block;
  margin-left: 24px;
  padding-right:5px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color:black;
}

.links li:hover{
    background-color: rgba(0, 0, 0, 0.034);
    font-weight: 500;
    text-shadow: -2px 3px 5px rgba(78, 76, 76, 0.863);
    padding:20px auto 20px;
    border-radius: 5px;
}


main {
  grid-area: main;
  background-color: rgb(234, 0, 255);
 
}

.a {
  grid-area: a;
  background-color: blueviolet;
}

.b {
  grid-area: b;
  background-color: rgb(43, 226, 98);
}
footer {
  grid-area: footer;
  background-color: brown;
}

@media screen and (max-width:700px){
    .large{
        display: none;
    }

    .mobile{
        background-color: white;
        height: 64px;
        width: 100%;
        margin: auto;
        display: grid;
        align-content:center;
        grid-template-rows: 32px;
        grid-template-columns: 16px 16px 16px 16px;
        justify-content: space-around;
    }
}